@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    text-align: center;
}
.boxing {
    font-size: 14px;
}
.boxing h2{
    color: grey;
}
.red_color h2 {
    color: red;
}
.green_color {
    font-size: 16px;
    color: green;
}




