@charset "UTF-8";
*{
    background-image: url("../img/back.jpeg");
    background-size: cover;
    background-attachment: fixed;
}
body{
    margin: 0;
    padding: 0;
}
h2, p, ul, li{
    margin: 0;
    padding: 0;
}
.box h2{
    color:darkgreen;
    text-align:center;
    text-decoration:underline;
}
.first-box p{
    text-align:justify;
}
.hover_link:hover {
    color: saddlebrown;
    font-size: 20px;
}
a:focus{
    border: 2px solid #000;
}

body {
    background:url(../img/earth.gif), url(../img/images.jpeg) , url(../img/mario.png) ;
    background-position:center, left, right;
    background-size:30%, 10%,10%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    height: 2000px;
}