@charset "UTF-8";
*{
    background: url("../img/yes.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.div1{
    width: 50%;
}
.div1 h2{
    color: beige;
    text-align: center;
    text-transform: uppercase;
}
.div1 p{
    color: beige;
    text-transform: lowercase;
    text-indent: 20px;
}
.form{
    width: 50%;
    margin-top: 50px;
}
.form h2{
    color: black;
    text-align: center;
    text-transform: capitalize;
}
input{
    width: 100%;
    color: white;
}
textarea{
    color: white;
    width: 100%;
}